<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Candidatos Selecionados</title>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/chooseme.css" rel="stylesheet" type="text/css">
  
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand" style="color: #0096c3;">ChooseMe</a>
          </div>
          <div class="btn-group notificacoes">
              <div class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{ STATIC_URL }}images/boneco.png" onMouseOut="this.src='{{ STATIC_URL }}images/boneco.png'"  
                onMouseOver="this.src='{{ STATIC_URL }}images/boneco2.png'" />
              </div>
              <span class="badge badge-red" id="notif-num">4</span>    
              <div class="dropdown-menu active notilist" role="menu">
                <span class="dropdown-header"><b>Notificações</b> 
                  <a class="pull-right" href="#" >
                    Ver todas
                  </a>
                </span>
                <div class="notif-list">
                  <a class="list-group-item" href="#"> 
                    <img class="pull-left" src="{{ STATIC_URL }}images/Apple.png"> 
                    <p>Você recebeu uma mensagem da empresa Apple.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/facebook.png"> 
                    <p>Você recebeu uma mensagem da empresa Facebook.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/ibm.jpg">
                    <p>A empresa IBM fez uma comentário sobre você.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/samsung.jpg">
                    <p>A empresa Samsung lhe enviou uma mensagem.</p>
                  </a>
                </div>
              </div>
            </div>

        <div class="navbar-right">
          <form class="navbar-form" role="search" style="float: left;">
            <div class="form-group">
              <input id="busca" type="text" class="form-control" placeholder="Pesquise por pessoas ou empresas" >
            </div>
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>

          <div class="btn-group">
            <div class="dropdown-toggle foto" data-toggle="dropdown">
              <img src="{{ STATIC_URL }}images/ibm.jpg" class="img-circle ">
              <span class="caret"></span>  
            </div>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"> Ver Perfil</a></li>
              <li><a href="#"> Editar Perfil</a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>  Configurações</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-hand-up"></span>  Ajuda</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
            </ul>
          </div>

        </div>
      
      </div>
    </div>

    <div class="resultado">
      <div class="container">
        <div class="" id="accordion">
            <h1>Candidatos Selecionados</h1>
             <div class="candidato">
              <div class="row candidato-basico">
                <img class="img-circle col-md-3" style="width:200px;" src="{{ STATIC_URL }}images/foto.jpg">
                <div class="col-md-7 resumo">
                  <h1>Renata da Silva</h1>
                  <p>Universidade Federal da Paraíba </p>
                  <p>Engenharia da Computação - 7º Período</p>
                </div>
                <div class="col-md-2 btn-open">
                  <a id="setinha" class="seta" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <img src="{{ STATIC_URL }}images/down.png" width="30px">
                  </a>
                </div>
              </div>
              <div id="collapse1" class="collapse">
               <div class="candidato-avancado">
                <div class="competencias row">
                  <h3 class="">Competências</h3>
                  <div class="competencia col-md-2 text-center">
                    <img width="100px" src="{{ STATIC_URL }}images/red.png" class="block center-block"/>
                    <h3 class="text-center">Criativo</h3>  
                    <h2 class="text-center"><span class="label label-success">5</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/orange.png" class="block center-block">
                    <h3 class="text-center">Líder</h3>  
                    <h2 class="text-center"><span class="label label-info">4</span></h2>
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/cyan.png" class="block center-block">
                    <h3 class="text-center">Comunicativo</h3> 
                    <h2 class="text-center"><span class="label label-warning">3</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/gray.png" class="block center-block">
                    <h3 class="text-center">Proativo</h3> 
                    <h2 class="text-center"><span class="label label-info">4</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/blue.png" class="block center-block">
                    <h3 class="text-center">Responsável</h3> 
                    <h2 class="text-center"><span class="label label-primary">2</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/green.png" class="block center-block">
                    <h3 class="text-center">Flexível</h3> 
                    <h2 class="text-center"><span class="label label-danger">1</span></h2>  
                  </div>
                </div>

                <div class="row bio">
                  <h3>Resumo</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  </p>  
                </div>
                
               </div> 
              </div>
            </div>
            

            <div class="candidato">
              <div class="row candidato-basico">
                <img class="img-circle col-md-3" style="width:200px;" src="{{ STATIC_URL }}images/foto2.jpg">
                <div class="col-md-7 resumo">
                  <h1>Augusto Souza</h1>
                  <p>Universidade Federal de Campina Grande </p>
                  <p>Administração - 3º Período</p>
                </div>
                <div class="col-md-2 btn-open">
                  <a id="setinha" class="seta" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <img src="{{ STATIC_URL }}images/down.png" width="30px">
                  </a>
                </div>
              </div>
              <div id="collapse2" class="collapse">
               <div class="candidato-avancado">
                <div class="competencias row">
                  <h3 class="">Competências</h3>
                  <div class="competencia col-md-2 text-center">
                    <img width="100px" src="{{ STATIC_URL }}images/red.png" class="block center-block"/>
                    <h3 class="text-center">Criativo</h3>  
                    <h2 class="text-center"><span class="label label-success">5</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/orange.png" class="block center-block">
                    <h3 class="text-center">Líder</h3>  
                    <h2 class="text-center"><span class="label label-info">4</span></h2>
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/cyan.png" class="block center-block">
                    <h3 class="text-center">Comunicativo</h3> 
                    <h2 class="text-center"><span class="label label-warning">3</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/gray.png" class="block center-block">
                    <h3 class="text-center">Proativo</h3> 
                    <h2 class="text-center"><span class="label label-info">4</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/blue.png" class="block center-block">
                    <h3 class="text-center">Responsável</h3> 
                    <h2 class="text-center"><span class="label label-primary">2</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/green.png" class="block center-block">
                    <h3 class="text-center">Flexível</h3> 
                    <h2 class="text-center"><span class="label label-danger">1</span></h2>  
                  </div>
                </div>

                <div class="row bio">
                  <h3>Resumo</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  </p>  
                </div>
                
               </div> 
              </div>
            </div>
  
             <div class="candidato">
              <div class="row candidato-basico">
                <img class="img-circle col-md-3" style="width:200px;" src="{{ STATIC_URL }}images/foto3.jpg">
                <div class="col-md-7 resumo">
                  <h1>Mariana Lima</h1>
                  <p>Universidade do Estado do Rio Grande do Norte </p>
                  <p>Direito - 4º Período</p>
                </div>
                <div class="col-md-2 btn-open">
                  <a id="setinha" class="seta" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <img src="{{ STATIC_URL }}images/down.png" width="30px">
                  </a>
                </div>
              </div>
              <div id="collapse3" class="collapse">
               <div class="candidato-avancado">
                <div class="competencias row">
                  <h3 class="">Competências</h3>
                  <div class="competencia col-md-2 text-center">
                    <img width="100px" src="{{ STATIC_URL }}images/red.png" class="block center-block"/>
                    <h3 class="text-center">Criativo</h3>  
                    <h2 class="text-center"><span class="label label-success">5</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/orange.png" class="block center-block">
                    <h3 class="text-center">Líder</h3>  
                    <h2 class="text-center"><span class="label label-info">4</span></h2>
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/cyan.png" class="block center-block">
                    <h3 class="text-center">Comunicativo</h3> 
                    <h2 class="text-center"><span class="label label-warning">3</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/gray.png" class="block center-block">
                    <h3 class="text-center">Proativo</h3> 
                    <h2 class="text-center"><span class="label label-info">4</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/blue.png" class="block center-block">
                    <h3 class="text-center">Responsável</h3> 
                    <h2 class="text-center"><span class="label label-primary">2</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/green.png" class="block center-block">
                    <h3 class="text-center">Flexível</h3> 
                    <h2 class="text-center"><span class="label label-danger">1</span></h2>  
                  </div>
                </div>

                <div class="row bio">
                  <h3>Resumo</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  </p>  
                </div>
                
               </div> 
              </div>
            </div>

             <div class="candidato">
              <div class="row candidato-basico">
                <img class="img-circle col-md-3" style="width:200px;" src="{{ STATIC_URL }}images/foto4.jpg">
                <div class="col-md-7 resumo">
                  <h1>João Paulo</h1>
                  <p>Universidade de São Paulo </p>
                  <p>Farmácia - 6º Período</p>
                </div>
                <div class="col-md-2 btn-open">
                  <a id="setinha" class="seta" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <img src="{{ STATIC_URL }}images/down.png" width="30px">
                  </a>
                </div>
              </div>
              <div id="collapse4" class="collapse">
               <div class="candidato-avancado">
                <div class="competencias row">
                  <h3 class="">Competências</h3>
                  <div class="competencia col-md-2 text-center">
                    <img width="100px" src="{{ STATIC_URL }}images/red.png" class="block center-block"/>
                    <h3 class="text-center">Criativo</h3>  
                    <h2 class="text-center"><span class="label label-success">5</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/orange.png" class="block center-block">
                    <h3 class="text-center">Líder</h3>  
                    <h2 class="text-center"><span class="label label-info">4</span></h2>
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/cyan.png" class="block center-block">
                    <h3 class="text-center">Comunicativo</h3> 
                    <h2 class="text-center"><span class="label label-warning">3</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/gray.png" class="block center-block">
                    <h3 class="text-center">Proativo</h3> 
                    <h2 class="text-center"><span class="label label-info">4</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/blue.png" class="block center-block">
                    <h3 class="text-center">Responsável</h3> 
                    <h2 class="text-center"><span class="label label-primary">2</span></h2>  
                  </div>
                  <div class="competencia col-md-2">
                    <img width="100px" src="{{ STATIC_URL }}images/green.png" class="block center-block">
                    <h3 class="text-center">Flexível</h3> 
                    <h2 class="text-center"><span class="label label-danger">1</span></h2>  
                  </div>
                </div>

                <div class="row bio">
                  <h3>Resumo</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  </p>  
                </div>
                
               </div> 
              </div>
            </div>>
            </div>
        </div>
        
      </div>
    </div>    
    
    <div class="paginacao text-center">
      <ul class="pagination pagination-lg">
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>

    <div class="footer ">
      <div class="container">
        <div class="row">
          <img class="col-md-3 block center-block" src="{{ STATIC_URL }}images/choose.jpg"  width="220px">
          <div class="col-md-2 temp text-center">
            <h4 class="text-center">Saiba mais</h4>            
            <p>Como funciona</p>
            <p>Detalhes da avaliação</p>
            
            
          </div>
          
          <div class="col-md-2 text-center">
            <h4 class="text-center">Sobre</h4>
            <p>Empresa</p>
            <p>Nosso time</p>
            <p>Blog</p>
          </div>        
  
          <div class="col-md-2 text-center">
            <h4>Suport</h4>
            <div class="footer-contato">
              <p>Termos de uso</p>
              <p>Politicas de privacidade</p>  
              <p>Ajuda</p>
            </div>
            
          </div>
          <div class="col-md-2">
            <h4 class="text-center">Siga-nos</h4>  
            <ul class="list-inline">
              <li><a href="#"><img src="{{ STATIC_URL }}images/facebook.png" width="23px"></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}images/twitter.png" width="23px"></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}images/feed.png" width="23px"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>    

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    
    <script>
              var apertou = true;
              $(".seta").click(function(){
                if (apertou){
                    $(".seta img").attr('src','{{ STATIC_URL }}images/up.png');
                    apertou = false;
                }else{
                     $(".seta img").attr('src','{{ STATIC_URL }}images/down.png');
                     apertou = true;
                }
              });
    </script>

  </body>
</html>
