<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" href="{{ STATIC_URL }}img\3.png">
    <title>ChooseMe</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}css/landing-page.css" rel="stylesheet">

</head>

<body>

    <div class="navbar navbar-transparent navbar-fixed-top" role ="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<img src = "img/logo3.png" style = "margin-top: 10px"/>
          <img src = "img/logo4.png" style = "margin-top: 0px" />-->
        </div>
        
        <div class="navbar-collapse navbar-right ">
            <a href="#" class="btn btn-lg btn-outline">Cadastrar</a>
			<div class="btn-group">
				<div class="dropdown-toggle" data-toggle="dropdown" style="margin-top:0px;">
					<button type="button" class="btn btn-lg btn-outline">Entrar</button> 
				</div>
				<ul class="dropdown-menu" role="menu">
					<form class="navbar-form" role="form">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
						<input type="password" placeholder="Senha" class="form-control">
					</div>
					<center><a href = "#" class="btn btn-success">OK</a></center>
				</ul>
			</div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>ChooseMe!</h1> <!--Logo aqui?-->
                        <h3>Ajudando sua empresa a encontrar os melhores candidatos.</h3>
                        <hr class="intro-divider">
						<br><br><br>
                        <ul class="list-inline intro-social-buttons"> <!--Usar offserting columns nos botoes-->
                            <li><a href="{% url 'empresa' %}" class="btn btn-lg btn-outline"><span class="network-name">Procuro talentos para a minha empresa</span></a></li>
							<li>                              </li>
							<li>                              </li>
                            <li><a href="{% url 'candidato' %}" class="btn btn-lg btn-outline"><span class="network-name">Procuro oportunidades de estágio</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container" align="center">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style ="color: rgb(0,66,66)">COMO FUNCIONA</h2>
                    <br>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 content-section-a-item">
                        <img src="{{ STATIC_URL }}img\cadastro.png" class="img-responsive" alt="" />
                        <br>
                        <p style ="color: rgb(0,66,66)">CADASTRE SEU PERFIL</p>
                        <p style ="color: rgb(0,66,66)">Preencha um pequeno formulário de inscrição com suas informações básicas
                </div>
                <div class="col-sm-3 content-section-a-item">
                        <img src="{{ STATIC_URL }}img\game.png" class="img-responsive" alt="" />
                        <br>
                        <p style ="color: rgb(0,66,66)">DESCUBRA SUAS HABILIDADES</p>
                        <p style ="color: rgb(0,66,66)">Divirta-se jogando ____ enquanto nós avaliamos suas características</p>
                </div>
                <div class="col-sm-3 content-section-a-item">
                        <img src="{{ STATIC_URL }}img\badge.png" class="img-responsive" alt="" />
                        <br>
                        <p style ="color: rgb(0,66,66)">MOSTRE ÀS EMPRESAS</p>
                        <p style ="color: rgb(0,66,66)">À medida que suas habilidades vão sendo descobertas, você recebe badges para expor em seu perfil</p>
                </div>
                <div class="col-sm-3 content-section-a-item">
                        <img src="{{ STATIC_URL }}img\msg.png" class="img-responsive" alt="" />
                        <br>
                        <p style ="color: rgb(0,66,66)">AGUARDE</p>
                        <p style ="color: rgb(0,66,66)">Quando uma empresa se interessar por você, enviaremos uma notificação</p>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">
        <br>
            <div class = "col-sm-6 content-section-b-item">
                <h2 style ="color: rgb(0,66,66)">VEJA QUEM JÁ ESTÁ POR AQUI</h2>
                <br><br>
                <br><br>
                <table>
                    <tbody>
                        <tr>
                            <td><a href="#" class="btn btn-lg btn-default tambutton"><span class="network-name">Engenharia Elétrica</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-lg btn-default tambutton"><span class="network-name">Ciência da Computação</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-lg btn-default tambutton"><span class="network-name">Educação Física</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-lg btn-default tambutton"><span class="network-name">Administração</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-lg btn-default tambutton"><span class="network-name">Letras</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-lg btn-default tambutton"><span class="network-name">Design</span></a></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>

            <div class = "col-sm-6 content-section-b-item">
                <table>
                    <tbody>
                        <tr>
                            <td><img src = "{{ STATIC_URL }}img/profile-small1.png" /></td>
                            <td><img src = "{{ STATIC_URL }}img/profile-small2.png" /></td>
                            <td><img src = "{{ STATIC_URL }}img/profile-small3.png" /></td>
                        </tr>
                        <tr>
                            <td><img src = "{{ STATIC_URL }}img/profile-small4.png" /></td>
                            <td><img src = "{{ STATIC_URL }}img/profile-small5.png" /></td>
                            <td><img src = "{{ STATIC_URL }}img/profile-small6.png" /></td>
                        </tr>
                        <tr>
                            <td><img src = "{{ STATIC_URL }}img/profile-small7.png" /></td>
                            <td><img src = "{{ STATIC_URL }}img/profile-small8.png" /></td>
                            <td><img src = "{{ STATIC_URL }}img/profile-small9.png" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.container -->
        <br>
    </div>
    <!-- /.content-section-b -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Faça o teste agora mesmo!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="#" class="btn btn-lg btn-outline"><span class="network-name">Cadastre-se já</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#">Página Principal</a> <!--em todos os links com # escrever #page onde page é o nome da page na pasta de htmls-->
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#">Sobre a empresa</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#">Conheça nossos serviços</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#">Ajuda</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#">Contato</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small" align="right">&copy; ChooseMe 2014. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript">
        $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
            e.stopPropagation();
        });
    </script>

</body>

</html>
