<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Renata da Silva</title>
    
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    
    <link href="{{ STATIC_URL }}css/chooseme.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  </head>
  <body>
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand" style="color: #0096c3;">ChooseMe</a>
          </div>
          <div class="btn-group notificacoes">
              <div class="dropdown-toggle" data-toggle="dropdown">
                 <img src="images/boneco.png" onMouseOut="this.src='{{ STATIC_URL }}images/boneco.png'"  
                onMouseOver="this.src='{{ STATIC_URL }}images/boneco2.png'"/>
              </div>
              <span class="badge badge-red" id="notif-num">4</span>  
              <div class="dropdown-menu active notilist" role="menu">
                <span class="dropdown-header"><b>Notificações</b> 
                  <a class="pull-right" href="#">
                    Ver todas
                  </a>
                </span>
                <div id="notif-list">
                  <a class="list-group-item" href="#"> 
                    <img class="pull-left" src="{{ STATIC_URL }}images/Apple.png"> 
                    <p>Você recebeu uma mensagem da empresa Apple.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/facebook.png"> 
                    <p>Você recebeu uma mensagem da empresa Facebook.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/ibm.jpg">
                    <p>A empresa IBM fez uma comentário sobre você.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/samsung.jpg">
                    <p>A empresa Samsung lhe enviou uma mensagem.</p>
                  </a>
                  <a class="list-group-item" href="#"> 
                    <img class="pull-left" src="{{ STATIC_URL }}images/Apple.png"> 
                    <p>Você recebeu uma mensagem da empresa Apple.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/facebook.png"> 
                    <p>Você recebeu uma mensagem da empresa Facebook.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/ibm.jpg">
                    <p>A empresa IBM fez uma comentário sobre você.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/samsung.jpg">
                    <p>A empresa Samsung lhe enviou uma mensagem.</p>
                  </a>
                  <a class="list-group-item" href="#"> 
                    <img class="pull-left" src="{{ STATIC_URL }}images/Apple.png"> 
                    <p>Você recebeu uma mensagem da empresa Apple.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/facebook.png"> 
                    <p>Você recebeu uma mensagem da empresa Facebook.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/ibm.jpg">
                    <p>A empresa IBM fez uma comentário sobre você.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/samsung.jpg">
                    <p>A empresa Samsung lhe enviou uma mensagem.</p>
                  </a>
            </div>
          </div>
        </div>

        <div class="navbar-right">
          <form class="navbar-form" role="search" style="float: left;">
            <div class="form-group">
              <input id="busca" type="text" class="form-control" placeholder="Pesquise por pessoas ou empresas" >
            </div>
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>

          <div class="btn-group">
            <div class="dropdown-toggle foto" data-toggle="dropdown">
              <img src="{{ STATIC_URL }}images/foto.jpg" class="img-circle ">
              <span class="caret"></span>  
            </div>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"> Ver Perfil</a></li>
              <li><a href="#"> Editar Perfil</a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>  Configurações</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-hand-up"></span>  Ajuda</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
            </ul>
          </div>

        </div>
      
      </div>
    </div>


    <div class="jumbotron perfil">
      <div class="container">
        <div class="row">
          <div class="perfil col-md-10">
            <img class="img-circle col-md-3" src="{{ STATIC_URL }}images/foto.jpg" width="200px">
            <div class="col-md-7" id="facul">
              <h1>Renata da Silva</h1>
              <p>Universidade Federal da Paraíba - UFPB</p>
              <p>Engenharia da Computação - 7º Período</p>  
            </div>
          </div>
    
          <div class="col-md-2">
            <a href="#" class="btn btn-outline" id="msg" data-toggle="modal" data-target="#contatoModal" >
              <img src="{{ STATIC_URL }}images/email.png"  class="block center-block">
              <span class="network-name">Mensagem </span>
            </a>

            
            <a id="escolher" href="#" class="btn btn-outline" >
              <img src="{{ STATIC_URL }}images/selected.png" class="block center-block">
              <span class="network-name"> Escolher</span>
            </a>

            </div>
          </div>
          
        </div>
      </div>  



      <div class="modal fade" id="contatoModal" tabindex="-1" role="dialog" aria-labelledby="contatoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" id="modal-msg">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Enviar Mensagem</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                      <label for="nome" class="col-sm-2 control-label">Título</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    
                <div class="form-group">
                  <label for="message" class="col-md-2 control-label">Mensagem</label>
                  <div class="col-md-10">
                    <textarea name="message" class="form-control" rows="15"></textarea>
                  </div>
                </div>
              </form>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success">Enviar</button>
            </div>
          </div>
        </div>
      </div>


     <div class="dados">
      <div class="container" >
        <h3>Dados Pessoais</h3>
        <div class="row">
          <div class="col-md-6">
            <h4>Nome Completo</h4>
            <p>Renata da Silva Montes</p>
            <h4>Data de Nascimento</h4>
            <p>10/10/1993</p>
            <h4>Endereço</h4>
            <p>Fenda do Biquini, Oceano Azul</p>
          </div>  
          <div class="col-md-6">
              <h4>Telefone</h4>
              <p>(81) 2345-6789</p>
              <h4>E-mail</h4>
              <p>rsm@hotmail.com</p>

          </div>
        </div>
          

      </div>
    </div>
    
    <div class="habilidades">
      <div class="container">
        <h3>Competências</h3>
        <div class="row badges">
          <div class="perfil-badges col-md-2">
              <img width="100px" src="{{ STATIC_URL }}images/blue.png" class="block center-block">
              <h3 class="text-center"><span class="label label-success">5</span></h3>
              <h4 class="text-center" style = "margin-top: 20px;">Criativo</h4> 
          </div>
          <div class="perfil-badges col-md-2">
              <img width="100px" src="{{ STATIC_URL }}images/green.png" class="block center-block">
              <h3 class="text-center"><span class="label label-info">4</span></h3>   
              <h4 class="text-center" style = "margin-top: 20px;">Líder</h4>  
          </div>
          <div class="perfil-badges col-md-2">
              <img width="100px" src="{{ STATIC_URL }}images/red.png" class="block center-block">
              <h3 class="text-center"><span class="label label-warning">3</span></h3>   
              <h4 class="text-center" style = "margin-top: 20px;">Comunicativo</h4>  
          </div>
          <div class="perfil-badges col-md-2">
            <img width="100px" src="{{ STATIC_URL }}images/orange.png" class="block center-block">
            <h3 class="text-center"><span class="label label-info">4</span></h3>   
            <h4 class="text-center" style = "margin-top: 20px;">Proativo</h4>  
          </div>
          <div class="perfil-badges col-md-2">
              <img width="100px" src="{{ STATIC_URL }}images/cyan.png" class="block center-block">
              <h3 class="text-center"><span class="label label-default">3</span></h3>   
              <h4 class="text-center" style = "margin-top: 20px;">Flexível</h4>  
          </div>
             <div class="perfil-badges col-md-2" >
              <img width="100px" src="{{ STATIC_URL }}images/gray.png" class="block center-block">
              <h3 class="text-center"><span class="label label-danger">1</span></h3>   
              <h4 class="text-center" style = "margin-top: 20px;">Prático</h4>  
          </div>
        </div>
      </div>
    </div>
  
    <div class="objetivos">
      <div class="container">
        <h3>Objetivos</h3>
        <h4>Pessoais</h4>
        <p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent. Turpis feugiat eu dolor sit faucibus fusce, pede ac, rutrum tempor vestibulum urna risus, nec et nullam.</p>
        <h4>Profissionais</h4>
        <p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent. Turpis feugiat eu dolor sit faucibus fusce, pede ac, rutrum tempor vestibulum urna risus, nec et nullam.</p>
      </div>
    </div>

    <div class="formacao">
      <div class="container">
        <h3>Formação Acadêmica</h3>
        <ul>
          <li><p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent.</p></li>
          <li><p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent.</p></li>
        </ul>
      </div>
    </div>

    <div class="atividades">
      <div class="container">
        <h3>Atividades Extras</h3>
        <ul>
          <li><p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent.</p></li>
          <li><p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent.</p></li>
        </ul>
      </div>
    </div>



    <div class="conhecimentos">
      <div class="container">
        <h3>Conhecimentos</h3>
        <ul class="list-inline conhecimentos-list">
          <li><h4 class="label label-primary">html</h4></li>
          <li><h4 class="label label-success">css</h4></li>
          <li><h4 class="label label-danger">javascript</h4></li>
          <li><h4 class="label label-info">python</h4></li>
          <li><h4 class="label label-warning">django</h4></li>
        </ul>  
      </div>  
      
    </div>

    <div class="portifolio">
      <div class="container">
        <h3>Portfólio</h3>
        <div class="row ports">
        
          <div class="col-md-3">
            <div class="thumbnail">
              <div class="caption">
                <img src="{{ STATIC_URL }}images/cabin.png">
                <h4 class="text-center">Título</h4>      
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <a href="#">Ver</a>
              </div>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="thumbnail">
              <div class="caption">
                <img src="{{ STATIC_URL }}images/game.png">
                <h4 class="text-center">Título</h4>      
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <a href="#">Ver</a>
              </div>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="thumbnail">
              <div class="caption">
                <img src="{{ STATIC_URL }}images/cake.png">
                <h4 class="text-center">Título</h4>      
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <a href="#">Ver</a>
              </div>
            </div>
          </div>
            
          <div class="col-md-3">
            <div class="thumbnail">
              <div class="caption">
                <img src="{{ STATIC_URL }}images/submarine.png">
                <h4 class="text-center">Título</h4>      
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <a href="#">Ver</a>
              </div>
            </div>
          </div> 

        </div>
      </div> 
    </div>

    <div class="experiencia">
      <div class="container">
        <h3>Experiência Profissional</h3>
        <ul>
          <li><p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent.</p></li>
          <li><p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent.</p></li>
        </ul>
      </div>
    </div>

    <div class="recomendacoes">
      <div class="container">
        <h3>Recomendações</h3>
          <div class="row">
            <div class="coments col-md-9">
              <blockquote>
               <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</em></p>
                <footer><strong>Apple</strong></footer>
              </blockquote>                  
              <blockquote>
                <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p></em>
                <footer><strong>Microsoft</strong></footer>
              </blockquote>
            </div>
            <!-- <div class="col-md-9 text-center" id="recom">
              <a href="#" class="thumbnail" data-toggle="modal" data-target="#recomModal">
              <img src="images/avaliar.png" class="block center-block" width="50px" >
              <span class="text-center network-name"><small>Recomendar</small></span>
            </a>  
            </div>
            -->
          </div>  
          
      </div>
    </div>  

     <div class="modal fade" id="recomModal" tabindex="-1" role="dialog" aria-labelledby="recomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Nova Recomendação</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                
                <label  class="control-label">Escreva um comentário sobre o perfil profissional de Nícolas:</label>
                <br><br>
                <div class="form-group">
                 
                  <div class="col-sm-10">
                    <textarea name="message" class="form-control" rows="10" ></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <img class="col-md-3 block center-block" src="{{ STATIC_URL }}images/choose.jpg"  width="220px">
          <div class="col-md-2 temp text-center">
            <h4 class="text-center">Saiba mais</h4>            
            <p>Como funciona</p>
            <p>Detalhes da avaliação</p>
            
            
          </div>
          
          <div class="col-md-2 text-center">
            <h4 class="text-center">Sobre</h4>
            <p>Empresa</p>
            <p>Nosso time</p>
            <p>Blog</p>
          </div>        
  
          <div class="col-md-2 text-center">
            <h4>Suport</h4>
            <div class="footer-contato">
              <p>Termos de uso</p>
              <p>Politicas de privacidade</p>  
              <p>Ajuda</p>
            </div>
            
          </div>
          <div class="col-md-2">
            <h4 class="text-center">Siga-nos</h4>  
            <ul class="list-inline">
              <li><a href="#"><img src="{{ STATIC_URL }}images/facebook.png" width="23px"></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}images/twitter.png" width="23px"></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}images/feed.png" width="23px"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>   

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script>
      var escolheu = true;
      $("#escolher").click(function(){
        if (escolheu){
          $("#escolher img").attr('src','{{ STATIC_URL }}images/email.png');
              escolheu = false;
        }else{
          $("#escolher img").attr('src','{{ STATIC_URL }}images/selected.png');
          escolheu =true;
         }
      });

    </script>
    
  </body>
</html>
