.jumbotron{
    background: url(../images/fundo2.jpg) no-repeat center center; /*Banner da capa aqui>*/
    background-size: cover;
    margin-top: -20px;
}

.time{
    margin-top: 30px;
    margin-bottom: 30px;
    background: url(../images/fundo2.jpg) no-repeat center center; /*Banner da capa aqui>*/
    background-size: cover;  
}

body{
    background: url(../images/greyzz.png) repeat; /*Banner da capa aqui>*/
}

.navbar {
   background-color: white;
   background: white;
   height: 70px;
   padding-top: 10px;
}

.navbar-right img {
    width: 50px;
    height: 50px;
}


.navbar-header a {
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    font-weight: 500;
}

#busca{
    width: 250px;
}

.btn-group{
    cursor:pointer;
}

.notificacoes {
    position: relative;
    top: 5px;
    right: 5px;
    
}

.notificacoes img{
    width: 45px;
    position: relative;
    bottom: 8px;
}


.notilist {
    width: 400px; 
    max-height: 300px;
}


.notilist p{
    font-size: 12px;
    margin-left: 40px;
}

.notilist img {
    width: 25px;
}

#inbox-titulo{
    margin-bottom: 20px;
}

.perfil a {
    position: relative;
    right: 40px;
    width: 140px;
} 

#msg{
    margin-top: 30px;
}

#msg img{
    width: 60px;
    margin-top: -5px;
    margin-bottom: -5px;
}

#escolher {
    margin-top: 25px;
    padding-right: 20px;
}

#escolher img{
    width: 35px;
    height: 40px;
    margin-bottom: 5px;
}


.perfil{
    padding-top: 30px;
    padding-bottom: 30px;
}


.titulo h1, .titulo p{
    color: white;
}

.titulo h1 {
    margin-top: -30px;
}

.perfil h1, .candidato h1{
    color: white;
    margin-bottom: 20px;
}

.perfil p, .candidato p{
    margin-top: -10px;
    color: white;
    margin-left: 2px;
}

#facul {
    top: -10px;
}

.habilidades img{
    margin-top: 20px;
}

.conhecimentos img{
    margin-top: 20px;
}

.portifolio img{
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portifolio p,a{
    padding-left: 10px;
    padding-right: 5px;
}

.panel-header h3 small {
    margin-right: 15px;
    font-size: 14px;
}

.panel-body {
    height: 400px; 
    overflow-y: hidden;
}

.panel-body ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
}

.panel-body ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #aaa;
}


.msgs ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
}

.msgs ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #aaa;
}

.msgs{
    overflow: hidden;    
}



.panel-body p {
    margin-top: 15px;
}

.inbox{
    padding-top: 10px;
    padding-bottom: 50px;
}

.inbox p{
    font-size: 14px;
}

.panel-header{
    border-bottom: 1px solid #E9EAED;
}

.panel-header h3{
    margin-left: 15px;
}

.acoes a{
    margin-top: 10px;
}

.acoes img {
    height: 120px;
    margin-bottom: 10px;
}

.lista {
    height: 478px; 
    overflow-y:scroll;
}

#recomModal textarea {
    width: 550px;
}



p{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

#btnFoto {
    margin-top: 0px;
}


.conhecimentos-list li{
    margin-left: 30px;
}

.dados h4{
    margin-top: 15px;
}

.dados p{
    margin-left: 30px;
    margin-top: 20px;

}



.objetivos,
.dados,
.formacao,
.atividades, 
.habilidades, 
.conhecimentos, 
.portifolio,
.experiencia,
.recomendacoes {
    margin-top: 25px;
    padding-bottom: 30px;
    background-color: #F7F7F7;
    width: 1100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.lista{
    background-color: #F7F7F7;   
}

.container{
    padding-left: 50px; 
    padding-right: 50px;
    
}

.atividades li{
    padding-right: 40px;
}

.footer {
    margin-top: 25px;
    padding-bottom: 30px;
    background-color: #F7F7F7;
    padding-left: 40px;
    padding-right: 40px;    
}

.objetivos h4{
    margin-top: 20px;
}

.objetivos p{
    padding-left: 30px;
    padding-right: 70px;
}

.badges {
    padding-right: 70px;
}

.ports {
    padding-right: 100px;
    padding-left: 30px;
}

.formacao li{
    margin-top: 20px;
    padding-right: 40px;
}

.conhecimentos-list{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;   
}

.portifolio .thumbnail{
    margin-top: 20px;

}

.portifolio .thumbnail p{
    font-size: 14px;

}


/*
.habilidades img:hover{
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-duration: 5s;
    -webkit-transition-duration: 5s; 
}
*/
.experiencia li{
    margin-top: 20px;
    padding-right: 60px;
}

.coments{
    margin-top: 20px;
    margin-left: 30px;
}

.recomendacoes{
    padding-bottom: 30px;
    
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}


h2,
h3,
h4,
h5,
h6 {
/*    text-transform: uppercase; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.navbar {
    background-color: ;
    font-family: 'Source Sans Pro', sans-serif;
    
}



.btn-outline {
    border: solid 2px #fff;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #0095c4;
    background: #fff;
}


.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.network-name {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.seta-img {
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
     border-radius: 100%;
}

.seta-img:hover,
.seta-img:focus,
.seta-img:active,
.seta-img.active {
    outline: 0;
    color: #00b2ca;
    background: #f7f7f7;
    border-radius: 100%;
}

.footer .row {
    padding-top: 30px;
}

.footer {
    background-color: white;
   /*  background-color: #0096c3;
    #2B5464*/
}

.inbox h1 {
    display: inline;
    margin-left: 10px;
    position: relative;
    top: 10px;    
}

.footer ul {
    margin-top: 10px;
}

.footer p{
    font-size: 14px;
}

.footer-contato{
    margin-top: 10px;
}

.footer img{
    padding-top: 20px;
}

#recom{
    position: relative;
    bottom: 40px;    
}

#notif-list p{
    font-size: 14px;
}

.candidato{
    margin-top: 30px;
    margin-bottom: 30px;
    background: url(../images/fundo2.jpg) no-repeat center center; /*Banner da capa aqui>*/
    background-size: cover;
    
}


.candidato p {
    font-size: 20px;
    color: white;
}

.candidato h1, .candidato h3 {
    color: white;
}



.resumo p {
    padding-left: 15px;
}

.candidato-basico{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.candidato-basico img {
    margin-left: 50px;
}

.candidato-avancado {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.candidato-avancado p{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.competencia {
    margin-top: 20px;
    margin-bottom: 15px;
}

.btn-open {     
    position: relative;
    top: 130px;
    left: 40px;
}

.resumo h1{
    font-size: 50px;
    margin-left: 10px;
}


.competencia h2 span {
    padding-left: 17px;
    padding-right: 17px;
}

#notif-num {
    position: relative;
    bottom: 42px;
    left: 31px;
}

.badge-red{
    background-color: #ff3939;
    
}

#modal-msg {
    width: 800px; 
    height: 550px;
    margin-left: -100px;  
    margin-top: 60px;
    padding-right: 30px;
}

.modal-footer button{
    position: relative;
    bottom: 7px;
}


.campos {
    background-color: #F7F7F7;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-busca{
    width: 300px;
    margin-top-top: 30px;
    margin-left: 40px;
}

.busca-avancada .input-group{
    margin-top: 20px;
}

#botoes{
    padding-top: 50px;
}

#botoes button {
    position: relative;
    left: 40px;
}


.perfil-badges h3 span{
    padding-left: 15px;
    padding-right: 15px;
}

#team{
    margin-left: -15px;
    margin-right: -235px;
}

/*

#componente1,
#componente2,
#componente3,
#componente4,
#componente5,
#componente6,
#componente7,
#componente8,
#componente9,
#componente10 {
    color: #fff;
    text-transform: uppercase;
    font-size:15px;
    text-align: center;
}

*/

.thumbnail h3{
    color: #fff;
    text-transform: uppercase;
    font-size:15px;
    text-align: center;
}